/*general setup*/
html, body {
  /*type*/
  font-family: "gastromond", serif;
  font-size: 1em;
}
::-webkit-scrollbar {
    display: none;
}
::selection {
  background-color: #f00;
  color: #fff;
}

/*grid*/
.box {
  color: white;
  display: flex;
  flex-flow: row nowrap;
  /*justify-content: flex-start;*/
  width: 100vw;
  height: 25vh;
  overflow-x: scroll;
  overflow-y: visible;

}
.card {
  width: 25vh;
  height: 25vh;
  flex-basis: 25vh;
  flex-shrink: 0;
}
.box .info {
  color: #f00;
  flex-basis: 50vh;
  transition: 1s;

}
.box .card:last-child {
  background: red;
}
/*flip the cards*/
.card:not(.info){
  opacity: 0;
  transition: 1.5s;
}

/*card flip animation*/
.cardFlip {
  transition: 1s;
  transform: perspective(0) rotate3d(0.1, 0, 0, 180deg);
}

.textBox {
  /*background: #222;*/
  margin: 4vh;
  font-size: 9vh;
  line-height: 6vh;
}

/* card type setting */
#title{
  padding-top: 2vh;
}
.quest{
  line-height: 18vh;
}

/* form */
input {
  max-width: 100%;
  border: none;
  background: none;

  font-family: "gastromond", serif;
  font-size: 8vh;
  line-height: 6vh;
}
input:focus {
    outline-width: 0;
}
